/* Copied and adapted from urlbar-autocomplete.inc.css */

.urlbarView-row[dynamicType=dynamicWeather]:hover > .urlbarView-row-inner {
  background: var(--arrowpanel-dimmed);
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner[selected] {
  background: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
  fill-opacity: 1;
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:last-child) {
  border-bottom: 1px solid var(--panel-separator-color);
  margin-bottom: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:first-child) {
  border-top: 1px solid var(--panel-separator-color);
  margin-top: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > .urlbarView-no-wrap {
  margin-block: 6px;
  display: flex;
  /* Override align-items on .urlbarView-no-wrap. */
  align-items: center !important;
}

.urlbarView-dynamic-dynamicWeather-icon {
  height: 44px;
  max-width: 100%;
  margin-inline-end: 4px;
  -moz-context-properties: fill;
}

.urlbarView-dynamic-dynamicWeather-textContent {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.urlbarView-dynamic-dynamicWeather-textContent > * {
  padding-block: 2px;
}

.urlbarView-dynamic-dynamicWeather-weatherInfo {
  font-size: 0.9em;
  display: inline-flex;
}

.urlbarView-results[wrap] > .urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-dynamicWeather-textContent > .urlbarView-dynamic-dynamicWeather-weatherInfo {
  flex-wrap: wrap;
}

.urlbarView-results[wrap] > .urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-dynamicWeather-textContent > .urlbarView-dynamic-dynamicWeather-weatherInfo > .urlbarView-dynamic-dynamicWeather-location {
  flex-basis: 100%;
}

.urlbarView-results[wrap] > .urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-dynamicWeather-textContent > .urlbarView-dynamic-dynamicWeather-weatherInfo > .urlbarView-title-separator {
  display: none;
}
